.btn-login
{
    -fx-background-color: #2D75E8;
    -fx-font-family: Dubai;
    -fx-font-size: 16;
    -fx-text-fill: white;
    -fx-background-radius: 12px;

}
.btn-login:hover
{
    -fx-cursor: hand;
    -fx-background-color: #96baf3;
    -fx-border-color: white;
    -fx-font-weight: bold;
}
.btn-login:pressed
{
    -fx-rotate: 20px;
}